@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?xch7y2');
    src:  url('fonts/icomoon.eot?xch7y2#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?xch7y2') format('truetype'),
      url('fonts/icomoon.woff?xch7y2') format('woff'),
      url('fonts/icomoon.svg?xch7y2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
.container {
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
h5{
    font-size: 19px;
    margin: 10px;
}
h2{
    text-transform: uppercase;
}
h3{
    font-size: 30px;
}
h6{
    font-size: 19px;
    margin: 10px 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
/*HEADER*/
.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: midnightblue;
    border-bottom: 3px solid rgba(0,0,0,0.3);
}
.header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
/* .container_header{
    display: contents;
    height: inherit;
} */

.header li{
    margin: 10px;
    list-style: none;
    padding: 10px;
}

.header ol{
    display: flex;
    padding-inline-start: 0px;
}

/*HERO*/
strong{
    color: orangered;
}

.hero{
    display: flex;
    align-items: center;
    color: white;
    background-color: midnightblue;
}

/* .container_hero{
    display: flex;
    align-items: center;
} */
.hero_imageContainer{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*PORTFOLIO*/

.project1{
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    margin-bottom: 10px;
}
.project1_title{
    margin: 10px 0;
}
.project1_imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}
.project1_details{
    padding: 10px;
    font-size: 18px;
    margin: 0px;
}

.project2{
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    margin-bottom: 10px;
}
.project2_title{
    margin: 10px 0;
}
.project2_details{
    padding: 10px;
}
.project2_imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 18px;
}

/*CAPACITATION*/
.PLC_title{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.DW_title{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.Git_title{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    
}
.burguer-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 15px;
    top: 18px;
    color: white;
}

/*SERVICES*/
.service_electricalMachines,
.service_mathPhysics,
.service_webDevelopment{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 470px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 
.title_services{
    padding-left: 165px;
}
.electricalMachines_imageContainer,
.mathPhysics_imageContainer{
    display: flex;
    justify-content: center;
}
.electricalMachines_image{
    width: 460px;
    height: 380.1px;
}
.electricalMachines_details{
    background: white;
    position: relative;
    z-index: 1;
    height: 80px;
    width: 400px;
    margin: -50px 0px 20px 35px;
    border: 1px solid #FFF;
    border-radius: 10px;
}

.mathPhysics_image{
    width: 460px;
    height: 325px;
}
.mathPhysics_image{
    margin: 50px;
}
.mathPhysics_details{
    background: white;
    position: relative;
    z-index: 1;
    height: 80px;
    width: 400px;
    margin: -65px 0px 10px 35px;
    border: 1px solid #FFF;
    border-radius: 10px;
}
.webDevelopment_imageContainer{
    display: flex;
    justify-content: center;
}
.webDevelopment_details{
    background: white;
    position: relative;
    z-index: 1;
    height: 80px;
    width: 400px;
    margin: 0px 0px 10px 35px;
    border: 1px solid #FFF;
    border-radius: 10px;
}
/*EXPERIENCE*/

/*CONTACT*/

/* MEDIA QUERIES */

@media screen and (max-width: 1024px){
    .container{
        width: auto;
    }  
    .project2_video{
        width: auto;
        height: auto;
    }
    .project1_video{
        width: auto;
        height: auto;
    }
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
    }
    .hero_description{
        padding: 0 20px;
    }
    
    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    
    h1{
        z-index: 2;
    }
    
    .title_services{
        padding: 0px;
    }

    .service_electricalMachines,
    .service_mathPhysics,
    .service_webDevelopment{
    width: 400px;
    }

    .electricalMachines_image{
        width: 380px;
        height: 313.1px;
    }
    .electricalMachines_details{
        width: 360px;
        margin: -50px 0px 10px 18px;
    }
    .mathPhysics_image {
        width: 380px;
        height: 268.4px;
    }
    .mathPhysics_details {
        width: 360px;
        margin: -75px 0px 30px 20px;
    }

    .webDevelopment_details {
        width: 310px;
        margin: 0px 18px 10px;
    }
}
@media screen and (max-width: 767px){
    h1{
        font-size: 18px;
    }
    h3{
        font-size: 20px;
    }
    h6{
        font-size: 12px;
        margin: 5px 0;
        padding: 0px;
    }
    .burguer-button{
        display: block;
    }
    .menu{
        position: fixed;
        background: rgba(0,0,0,.5);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    
    .menu.is-active{
        left: 0;
    }
    .header ol{
        display: block;
    }
    .header li{
        display: flex;
        justify-content: center;
    }
    .header{
        display: flex;
        justify-content: center;
        height: auto;
        width: auto;
    }
    .logo{
        margin-top: 3px;
        margin-bottom: 0;
    }
    .header a{
        font-size: 25px;
    }
    
    .hero{
        height: 250px;
    }
    .hero_image{
        height: 250px;
        width: 370px;
    }
    
    .project1{
        height: auto;
        display: block;         
    }
    .project1_details{
        margin: 0;
        font-size: 15px;
        padding: 0 10px;
    }
    .project1_date{
        font-size: 12px;
    }
    .project1_video{
        width: auto;
        height: auto;
    }

    .project2{
        display: block;
        height: auto;
    }
    .project2_title{
        margin: 5px 0;
    }
    .project2_details{
        margin: 0px;
        padding: 0 10px;
        font-size: 15px;
    }
    .project2_video{
        width: auto;
        height: auto;
    }

    .service_electricalMachines,
    .service_mathPhysics,
    .service_webDevelopment{
    width: 350px;
    }
    .electricalMachines_image{
        width: 330px;
        height: 272.6px;
    }
    .electricalMachines_details {
        height: 80px;
        width: 310px;
        margin: -30px 10px 0px 18px;
    }

    .mathPhysics_image {
        width: 330px;
        height: 256.4px;
    }

    .webDevelopment_image{
        width: 200px;
    height: 200px;
    }

    .mathPhysics_details {
        height: 90px;
        width: 310px;
        margin: -80px 0px 20px 18px;

    }
}
@media screen and (max-width: 480px){
    h1{
        font-size: 14px;
    }
    h2{
        margin: 10px 0;
        font-size: 15px;
    }
    h3{
        font-size: 12px;
    }
    h6{
        font-size: 8.5px;
        margin: 5px 0;
        padding: 0px;
    }
    .burguer-button{
        left: 10px;
        top: 10px;
    }
    .logo_image{
        height: 35px;
        width: 100px;
    }
    .header ol{
        margin-block-start: 10px;
    }
    .header li{
        padding: 10px;
        margin: 1px 15px;
    }

    .hero{
        height: 180px;
    }
    .hero_image{
        width: 260px;
        height: 180px;
    }
    
    .project1_imageContainer{
        margin: 5px;
    }
    .project1_video{
        width: auto;
        height: auto;
    }
    .project1_course{
        font-size: 8px;
    }
    .project1_date{
        font-size: 8px;
    }
    .project1_details{
        font-size: 10px;
    }

    .project2{
        display: block;
    }
    .project2_details{
        font-size: 10px;
        margin: 0px;
    }
    .project2_title{
        margin: 0;
    }
    .project2_date{
        margin: 5px 0;
    }
    .project2_description{
        margin-bottom: 0px;
    }
    .project2_imageContainer{
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    .project2_video {
        width: auto;
        height: auto;
    }

    .service_electricalMachines, 
    .service_mathPhysics, 
    .service_webDevelopment {
        width: 300px;
        height: 300px;
    }
    .electricalMachines_image {
        width: 280px;
        height: 230px;
    }
    .electricalMachines_details {
        width: 260px;
        font-size: 13px;
        margin: -50px 0px 5px 18px;
    }
    .service_mathPhysics {
        width: 300px;
        height: 280px;
    }
    .mathPhysics_image {
        width: 280px;
        height: 198px;
        margin: 15px;
    }
    .mathPhysics_details {
        width: 260px;
        font-size: 13px;
        margin: -50px 20px;
    }

    .webDevelopment_image{
        width: 180px;
        height: 180px;
    }
    .webDevelopment_details {
        width: 260px;
        font-size: 13px;
        margin: 0px 18px 10px;
    }
}
@media screen and (max-width: 320px){
    h1{
        font-size: 12px;
    }
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 10px;
    }
    .hero{
        height: 120px;
    }
    .hero_image{
        height: 120px;
        width: 170px;
    }
    
    .project1_imageContainer{
        margin: 0 5px;
        display: flex;
        align-items: center;
    }
    .project1_details {
        padding: 5px 5px;
        font-size: 8px;
    }
    .project1_video {
        width: 150px;
        height: 90px;
    }
    
    .project2_details{
        font-size: 7px;
        padding: 5px;
    }
    .project2_title {
        margin: 0 0 5px 0;
    }
    .project2_date{
        margin: 0px 0px;
    }
    .project2_video {
        width: 150px;
        height: 90px;
    }
    .service_electricalMachines, .service_mathPhysics, .service_webDevelopment {
        width: 250px;
        height: 250px;
    }

    .electricalMachines_image {
        width: 230px;
        height: 188.9px;
    }
    .electricalMachines_details {
        height: 50px;
        width: 210px;
        font-size: 10px;
        margin: -30px 0px 0px 18px;
    }
    .service_mathPhysics{
        height: 230px;
    }
    .mathPhysics_image {
        width: 230px;
        height: 162.6px;
        margin: 15px;
    }
    .mathPhysics_details {
        width: 210px;
        height: 50px;
        font-size: 10px;
        margin: -30px 20px;
    }
    .webDevelopment_image {
        width: 130px;
        height: 130px;
    }
    .webDevelopment_details {
        width: 210px;
        height: 50px;
        font-size: 10px;
    }
    .service_webDevelopment {
        height: 220px;
    }
}