/*HEADER*/
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: midnightblue;
    margin: 0 0 10px 0;
}
.header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.logo{
    padding-left: 20px;
}
.container_header{
    display: contents;
    height: inherit;
}

.header li{
    margin: 10px;
    list-style: none;
    padding: 10px;
}

.header ol{
    display: flex;
    padding-inline-start: 0px;
}

/*HERO*/
.hero{
    display: flex;
    height: 355px;
    justify-content: space-between;
    display: flex;
    border: 1px solid black;
}
/*PORTFOLIO*/
.project1{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.project2{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
/*CAPACITATION*/
.PLC_title{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.DW_title{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.Git_title{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    
}
/*EXPERIENCE*/

/*SERVICES*/

/*CONTACT*/

/* MEDIA QUERIES */
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 768px){
    .header{
        height: 150px;
        display: inherit;
    }
    .container_header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo{
        margin-top: 10px;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 480px){
    .header{
        height: 100px;
        display: inherit;
    }
    .header a{
        font-size: 0.85em;
    }
    .container_header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo_image{
        height: 35px;
        width: 90px;
    }
    .header ol{
        margin-block-start: 10px;
    }
    .header li{
        padding: 0px;
        margin: 1px 15px;
    }
}
@media screen and (max-width: 320px){
    .header{
        height: 70px;
    }
    .logo{
        padding-left: 0;

    }
    .logo_image{
        height: 18px;
        width: 50px;
    }
    .header a{
        font-size: 0.5em;
    }

    .header li{
        margin: 1px 12px;
    }
}